
.image {
  max-width: 100%;
  max-height: 100%;
}

/* Customized css */
.filling{
  position: absolute;
  padding-bottom: 100%;
  background-color: green;
  padding-top: 10%;
}

.container {
  position: relative; 
  max-width: 100%; /* Maximum width */
  max-height: 100%;
  top: 0px;
  left:0px;
}

.container .content {
  position: absolute;
  width:50%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  padding-top: 10%;
  top:0px;
  left:25%;
}
